* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(imagem/cidades.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo {
  font-size: 45px;
  color: black;
  animation: cidades 2s;
}

.input {
  background-color: white;
  padding: 12px 22px;
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  box-sizing: border-box; /* importante */
}

.input input {
  flex: 1; /* ocupa o espaço disponível */
  min-width: 0; /* evita overflow no mobile */
}

.botao {
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 500px;
}

.main h2 {
  margin: 15px 0;
  font-size: 30px;
}

.main span {
  margin-bottom: 10px;
  font-weight: bolder;
}

@keyframes cidades {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }  
}

@media(max-width: 480px) {
  .titulo {
    font-size: 80px;
    font-size: 30px;
  }

  .container {
    display: flex;
    text-align: center;
    background-image: url(imagem/manha.png);
  }

  .input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
  }

  .main {
    width: 80%;
  }

  .main h2 {
    font-size: 28px;
  }
}